target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.properties
!**/src/main/resources/*.xml
!**/src/main/resources/*.yml
.git/
.gitignore
.github/
.vscode/
*.log
.mvn/
mvnw
mvnw.cmd
Dockerfile
.dockerignore
node_modules/
bin/
obj/
